 /* .comicons{
    background-color: rgb(244, 235, 218);
    display: flex;
    justify-content: space-between;
    padding: 34px;
    margin-bottom: 53px;
    
}   */
.card{
    width: 400px;
}
.card img{
    height: 304px;
}
.comicons img {
  width: 40px;  
  height: 30px; 
  margin-right: 10px;
 
}

  
  /* Media query for screens less than 768px wide */
  @media (max-width: 768px) {
    .comicons img {
      width: 40px;  
      height: 30px; 
      margin-right: 10px;
     
    }
  }