.container{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x)*.5);
    padding-left: calc(var(--bs-gutter-x)*.5);
    margin-right: auto;
    margin-left: auto;
    padding: 43px;

}
 .container .row{
    margin-top: 23px !important;
}
.btn-six{
    color: #67ed50;
    font-size: 23px;
    font-weight: bold;
    padding: 43px;
}
.title-one h2{
    color: #254035;
    line-height: 1.041em;
    font-size: 52px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 43px;
}















        /* card section */
.hobox{
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    justify-content: center;
    text-align: center;
    align-items: center;

}
.Hoh1{
    font-size: 3rem;
    padding: .5rem;
    font-weight: 900;
    margin-top: 45px;
}
.Hop{
      margin-bottom: 23px;
}
.butt{
    margin-bottom: 56px !important;
    padding: 8px !important;
    width: 145px !important;
    border-radius: 23px !important;
}
.butt:hover{
    background-color: rgb(12, 13, 11);

}